# file that can be used to install a minimum basic set of Python modules / libraries using pip

# The requirements.txt file has been either replaced by a pyproject.toml or integrated into a pyproject.toml

#sphinx version and theme used for read the docs project
sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
