# file that can be used to install a minimum basic set of Python modules / libraries using pip

# The requirements.txt file has been either replaced by a pyproject.toml or integrated into a pyproject.toml
requirements.txt'
